# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/MicroFrontEnd/Dashboard/node_modules
/MicroFrontEnd/Marketing/node_modules
/MicroFrontEnd/Auth/node_modules
/MicroFrontEnd/Container/node_modules

/MicroFrontEnd/Dashboard/package-lock.json
/MicroFrontEnd/Marketing/package-lock.json
/MicroFrontEnd/Auth/package-lock.json
/MicroFrontEnd/Container/package-lock.json


/MERN Stack Chat App/node_modules
/MERN Stack Chat App/package.json
/MERN Stack Chat App/package-lock.json
/MERN Stack Chat App/frontend/node_modules
/MERN Stack Chat App/frontend/package.json
/MERN Stack Chat App/frontend/package-lock.json
/MERN Stack Chat App/frontend/public/robots.txt
/MERN Stack Chat App/frontend/.gitignore
/MERN Stack Chat App/frontend/README.md

/MERN Stack Chat App/.env


/FrontEnd.pdf
/Javascript-Interview-Guide.pdf





# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

    artifacts
    node_modules
    

    artifacts
    node_modules
    

    artifacts
    node_modules
    
